*~
*.class
*.jar
.Xil
.nfs*
pdp8l.cache
pdp8l.hw
pdp8l.ip_user_files
pdp8l.runs
pdp8l.sim
pdp8l.srcs
myboard/hw_handoff
myboard/ip
myboard/ipshared
myboard/myboard.bxml
myboard/myboard_ooc.xdc
myboard/sim
myboard/synth
myboard/ui
vivado*.jou
vivado*.log
vivado*.str
